<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.ueba.rule.mapper.ModelMapper">
    <resultMap type="Model" id="ModelResult">
        <id     property="id"       column="id"      />
        <result property="name"       column="name"      />
        <result property="createTime"     column="create_time"    />
        <result property="data"        column="data" javaType="java.util.Map"  typeHandler="com.ruoyi.ueba.rule.mapper.handler.JsonTypeHandler"      />
        <result property="delFlag" column="del_flag"    />
        <result property="active" column="active" />
    </resultMap>

    <select id="selectModels" parameterType="Model" resultMap="ModelResult">
        select id, name, create_time, data, active from rule where del_flag='0'
        <if test="id != null and id != ''">
            AND id=#{id}
        </if>
        <if test="name != null and name != ''">
            AND name like concat('%', #{name}, '%')
        </if>
    </select>

    <update id="updateModel" parameterType="Model">
        update rule
        <set>
            <if test="name != null and name != ''">name=#{name},</if>
            <if test="data != null">data=#{data,typeHandler=com.ruoyi.ueba.rule.mapper.handler.JsonTypeHandler},</if>
            <if test="active != null">active=#{active}</if>
        </set>
        where id=#{id}
    </update>

    <insert id="insertModel" parameterType="Model">
        insert into rule
            (name, data, create_time) values
        (
            <if test="name != null and name != ''">#{name},</if>
            <if test="data != null">#{data,typeHandler=com.ruoyi.ueba.rule.mapper.handler.JsonTypeHandler},</if>
            now()
        )
    </insert>

</mapper>