<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.ueba.rule.mapper.RuleSourceMapper">

    <resultMap type="RuleSource" id="RuleSourceResult">
        <id     property="id"       column="id"      />
        <result property="name"       column="name"      />
        <result property="format"     column="format"    />
        <result property="jobId" column="jobId"/>
        <result property="createTime"     column="create_time"    />
        <result property="data"        column="data" javaType="java.util.Map"  typeHandler="com.ruoyi.ueba.rule.mapper.handler.JsonTypeHandler"      />
        <result property="delFlag" column="del_flag"    />
        <result property="active" column="active" />
    </resultMap>

    <select id="selectRuleSources" parameterType="RuleSource" resultMap="RuleSourceResult">
        select id, name, format, jobId, create_time, data, active from rule_source where del_flag='0'
        <if test="name != null and name != ''">
            AND name like concat('%', #{name}, '%')
        </if>
        <if test="format != null and format != ''">
            AND format like concat('%', #{format}, '%')
        </if>
    </select>

    <update id="updateSource" parameterType="RuleSource">
        update rule_source
        <set>
            <if test="name != null and name != ''">name=#{name},</if>
            <if test="format != null and format != ''">format=#{format},</if>
            <if test="jobId != null and jobId !=''">jobId=#{jobId},</if>
            <if test="data != null and data != ''">data=#{data,typeHandler=com.ruoyi.ueba.rule.mapper.handler.JsonTypeHandler},</if>
            <if test="active != null">active=#{active}</if>
        </set>
        where id=#{id}
    </update>

    <insert id="insertSource" parameterType="RuleSource">
        insert into rule_source
            (name, format, jobId, data, create_time) values
        (
            <if test="name != null and name != ''">#{name},</if>
            <if test="format != null and format != ''">#{format},</if>
            <if test="jobId != null and jobId !=''">#{jobId},</if>
            <if test="data != null">#{data,typeHandler=com.ruoyi.ueba.rule.mapper.handler.JsonTypeHandler},</if>
            now()
        )
    </insert>

    <delete id="delSource" parameterType="Integer">
        delete from rule_source where id in
            <foreach collection="array" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
    </delete>
</mapper>